<!--
 * @Author: your name
 * @Date: 2021-02-05 10:48:40
 * @LastEditTime: 2021-02-07 16:11:09
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit!
 * @FilePath: /test-wxl/test.html
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>首页</h1>
  <form action="" method="POST">
    <p>用户名</p>
    <input type="text" name="userName"><br>
    <p>密码</p>
    <input type="password"><br>
    <button type="submit">submit</button>
  </form>
  <img src="/img.png" alt="">

</body>

</html>